*.[oad]
*.metadata
*.swp
*.elf
*.map
*.core
*.pyc
*.swo
*.swn
*.exe
*.log
*.dblite
*.depend
*.elay
.svn/
build/
RemoteSystemsTempFiles
.vscode/ipch/*
[Dd]ebug/
[Rr]elease/
*.mxproject
*.launch
.settings/
__pycache__/
.vscode/.cortex*
.vscode/settings.json
~$*
*/.vs/*